### Miscellaneous
.DS_Store
Thumbs.db

### Vagrant
/.vagrant

### Composer
#/vendor/

### IDE
/.idea
/.vscode

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
#/htdocs/cms/
#/htdocs/content/uploads/
#/htdocs/content/upgrade/

### Environment Credentials
.env

/.history
